<html>
<head>
    <title>Places We've Been!</title>
</head>
<body>
    <h1>You added a Place!</h1>
    <p>{{ newplace.getName }}</p>
    <p>{{ newplace.getDuration }}</p>
    <p><a href='/'>View your list of places you have been.</a></p>
</body>
</html>
