<html>
<head>
    <title>Places We've Been</title>
</head>
<body>
    <h1>Places We've Been</h1>
    {% if places is not empty %}
        <p>Here are all of your places:</p>
        <ul>
            {% for place in places %}
                <li>{{ place.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/places' method='post'>
        <label for='name'>Place Name</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Add place</button>
    </form>

    <form action='/delete_places' method='post'>
        <button type='submit'>Delete</button>
</body>
</html>
